{% extends 'front/layout/main.html' %}
{% load states %}
{% load querystring %}
{% load utils %}
{% load markdown %}

{% block content %}

{% if request.GET %}
    <div style="margin-bottom: 40px">
        <ul class="nav nav-pills">
        {% if request.GET.tag %}
            <li><a href="?{% update_querystring tag=-1 %}" class="dark-link"><span class="fui-cross-16"></span> {{ request.GET.tag|unquote_raw }}</a></li>
        {% endif %}
        {% if request.GET.estado %}
            <li><a href="?{% update_querystring estado=-1 %}" class="dark-link"><span class="fui-cross-16"></span> {{ request.GET.estado|state_name }}</a></li>
        {% endif %}
        {% if request.GET.startup %}
            <li><a href="?{% update_querystring startup=-1 %}" class="dark-link"><span class="fui-cross-16"></span> {{ request.GET.startup|startup_name }}</a></li>
        {% endif %}
        </ul>
    </div>
{% endif %}

{% for job in jobs %}

    <div class="row startup-item">
        {% if job.startup.logo %}
        <div class="span1">
            <img class="img-circle" src="{{ job.startup.logo_thumbnail_circle.url }}" style="height:60px;width:60px;" />
        </div>
        {% endif %}
        
        <div class="details span{% if job.startup.logo %}9{% else %}10{% endif %}">
            <h3 class="list-item-title">
                <a style="color:#34495e" href="{% url 'jobs_details' job.slug %}">{{ job.title|truncatechars:55 }}</a>
            </h3>
            
            <!-- tags -->
            {% if job.tags %}
                <div style="margin-top:5px;">
                {% for tag in job.tags.all %}
                    <a href='?{% update_querystring tag=tag.name %}' class="label label-{% cycle 'belize-hole' 'peter-river' %}">
                        {{ tag.name }}
                    </a>
                {% endfor %}
                </div>
            {% endif %}
            <!-- /tags -->
            
            <div style="margin-top:5px">{{ job.description|markdown|striptags|truncatechars:200 }}</div>
        </div>
        
        <div class="span2" style="text-align:right;">
            <div><a href="{% url 'startups_details' job.startup.owner.username %}">{{ job.startup.name }}</a></div>
            <div class="timeago" title="{{ job.published|date:'c' }}">{{ job.published }}</div>
            <div><a style="color:#34495e" href='?{% update_querystring estado=job.startup.state %}'>{{ job.startup.state|state_name }}</a></div>
        </div>
    </div>
    
    <hr>

{% endfor %}

{% include 'front/layout/_pagination.html' with list=jobs %}

{% endblock %}
