<div id="footer">
    <div class="container">
        <hr>
        <ul class="inline">
            <li><a href="{% url 'about' %}">Sobre</a></li>
            <li><a href="mailto:contato@startupforme.com">Contato</a></li>
            <li><a href="http://twitter.com/startupforme" target="_blank">Twitter</a></li>
            <li><a href="http://facebook.com/startupforme" target="_blank">Facebook</a></li>
        </ul>
        <div>
            
            <p>Conteúdo licenciado sob <a rel="license" href="http://creativecommons.org/licenses/by/3.0/br/deed.pt" target="_blank">Creative Commons - Atribuição  3.0 Brasil</a>.</p>
            <p>Ao usar este site você concorda com os termos desta licença.</p>
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/br/deed.pt">
                    <img alt="Licença Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/br/88x31.png" />
                </a>
            </p>
            
        </div>
    </div>
</div>