<div class="markdown_help_text" style="display:none">
<p>
    O Markdown é um formato de texto muito simples e funcional.
    Para ver todas as possíveis tags <a target="_blank" href='http://daringfireball.net/projects/markdown/syntax'>clique aqui</a> (em inglês).
    Essas são as tags mais usadas:
</p>

<p>Cabeçalho de primeiro nível</p>

<pre>
Este texto será destacado
=========================
</pre>

<p>Cabeçalho de segundo nível</p>

<pre>
1.1: Subitem número 1
---------------------
</pre>

<p>Parágrafos</p>

<pre>
Simplesmente pule uma linha... este é um parágrafo.

Este é outro parágrafo.
</pre>

<p>Negrito</p>

<pre>**Atenção!** muito cuidado.</pre>

<p>Itálico (ênfase)</p>

<pre>Texto muito *enfático*.</pre>

<p>Listas</p>

<pre>
Abaixo vamos criar uma lista (note a linha em branco abaixo):

- Ovo
- Manteiga
- *opcional* Sal
</pre>

<p>Links</p>

<pre>Faça o download [aqui](http://exemplo.com/arquivo.pdf)</pre>

<p>Imagens</p>

<pre>![Texto Alternativo](http://exemplo.com/logomarca.png)</pre>
</div>