{% load querystring %}

{% if list.paginator.num_pages > 1 %}
<div class="pagination">
    <ul>
        {% if list.has_previous %}
            <li><a href="?{% update_querystring p=list.previous_page_number %}">anterior</a></li>
        {% endif %}
        
        {% for page in list.paginator.page_range %}
            <li class="{% if page == list.number %}active{% endif %}"><a href="?{% update_querystring p=page %}">{{ page }}</a></li>
        {% endfor %}
        
        {% if list.has_next %}
            <li><a href="?{% update_querystring p=list.next_page_number %}">próxima</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
