<div class="share-links">
    <!-- facebook -->
    <div class="link">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true" data-font="arial" data-action="recommend"></div>
    </div>
    <!-- end facebook -->
    
    <!-- linkedin -->
    <div class="link">
        <script src="//platform.linkedin.com/in.js" type="text/javascript">lang: pt_BR</script>
        <script type="IN/Share" data-counter="right"></script>
    </div>
    <!-- end linkedin -->
    
    <!-- google plus -->
    <div class="link">
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
          {lang: 'pt-BR'}
        </script>
        <div class="g-plus" data-action="share" data-annotation="bubble"></div>
    </div>
    <!-- end google plus -->
    
    <!-- twitter -->
    <div class="link">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="startupforme" data-lang="pt">Tweetar</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <!-- end twitter -->
</div>

<div class="clearfix"></div>