{% extends 'front/layout/main_nosearchbar.html' %}

{% block content %}

<div class="">
    <h2>Recuperar Senha</h2>
    <hr />
</div>

<div class="row">

    <div class="span4">
        <p>Ao preencher seu email abaixo e clicar em enviar, você irá receber no seu email instruções de como criar uma nova senha para seu usuário.</p>
    </div>

    <div class="span7 offset1">
        {% include 'front/layout/_form_errors.html' %}

        <form action="" method="post" class="">{% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input type="text" id="id_email" name="email" class="span5 required email" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-large btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
