{% extends 'front/layout/main_nosearchbar.html' %}

{% block content %}

<div>
    <h2>Alterar Senha</h2>
    <hr>
</div>

{% include 'front/layout/_form_errors.html' %}

<div class="row">
    <div class="span4">
        <p>Digite sua senha antiga primeiro, apenas por segurança. Depois preencha duas vezes sua nova senha para alterarmos seu cadastro.</p>
    </div>

    <div class="span7 offset1">
        <form action="" method="post">{% csrf_token %}
            
            <div class="control-group">
                <label class="control-label" for="old_password">Senha atual</label>
                <div class="controls">
                    <input type="password" id="id_old_password" name="old_password" class="span5 required" />
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="new_password1">Nova senha</label>
                <div class="controls">
                    <input type="password" id="id_new_password1" name="new_password1" class="span5 required" />
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="new_password2">Nova senha novamente</label>
                <div class="controls">
                    <input type="password" id="id_new_password2" name="new_password2" class="span5 required" />
                </div>
            </div>
            
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-large btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
    
    
</div>

{% endblock %}
