{% extends 'front/layout/main_nosearchbar.html' %}

{% block content %}

<div class="">
    <h2>Recuperar Senha</h2>
    <hr />
</div>

<div class="row">

    {% include 'front/layout/_form_errors.html' %}

    {% if validlink %}

        <div class="span4">
            <p>Por favor, preencha sua nova senha duas vezes para que possamos alterar seu cadastro.</p>
        </div>

        <div class="span7 offset1">
            
            <form action="" method="post">{% csrf_token %}
                
                <div class="control-group">
                    <label class="control-label" for="id_new_password1">Senha</label>
                    <div class="controls">
                        <input type="password" name="new_password1" id="id_new_password1" class="span5 required" />
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="id_new_password2">Senha novamente</label>
                    <div class="controls">
                        <input type="password" name="new_password2" id="id_new_password2" class="span5 required" />
                    </div>
                </div>
                
                
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-large btn-primary">Alterar minha senha</button>
                    </div>
                </div>
                
            </form>
        </div>
        
    {% else %}
        <div class="span12">
            <b>Não foi possível alterar sua senha.</b>
            <p>
                O link para recriar sua senha era inválido, possivelmente por que já foi utilizado. 
                Por favor requisite uma nova <a href="{% url 'password_reset' %}">recuperação de senha</a>.
            </p>            
        </div>
    {% endif %}

{% endblock %}







